
	<div class="container" ng-controller="PersonSearchCtrl as search">

		<div>
			<p></p>
		</div>
		<div id="search" >
			<div class="input-group">
				<span class="input-group-addon">Search Field</span> <input
					id="input" type="text" class="form-control" name="searchinput"
					placeholder="Type Bureau or App Name"
					ng-model="searchText" 
					ng-change="showSearchResults(searchText)"
					ng-init="count=0" />
			</div>
			<div><p><br/></p></div>
			<div class="generic-container">
			<div ng-init="checked=false" ng-if="checked" ui-grid="gridOptions"  ui-grid-exporter=""
				ui-grid-resize-columns="" ui-grid-edit="" class="grid"></div>
		</div>
		</div>

	</div>



