<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Active Patient List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" type="text/css" href="inline.css" />
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>
</head>
<body>
 <header class="header">
    <h1 class="header__title" th:text="#{web.title}">Web Title</h1>
    <button id="butRefresh" class="headerButton" aria-label="Refresh"></button>
    <button id="butAdd" class="headerButton" aria-label="Add"></button>
  </header>

<table>
  <thead>
    <tr>
      <th th:text="#{headers.firstName}">First</th>
      <th th:text="#{headers.lastName}">Last</th>
      <th th:text="#{headers.sex}">Sex</th>
      <th th:text="#{headers.age}">Age</th>
      <th th:text="#{headers.dateOfBirth}">Birth Date</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="person: ${allPersons}">
      <td th:text="${person.firstName}"></td>
      <td th:text="${person.lastName}"></td>
      <td th:text="${person.sex}"></td>
      <td th:text="${person.ageInYearMonth}"></td>
      <td th:text="${person.dateOfBirth}"></td>
    </tr>
   
  </tbody>
</table>

  <div class="loader">
    <svg viewBox="0 0 32 32" width="32" height="32">
      <circle id="spinner" cx="16" cy="16" r="14" fill="none"></circle>
    </svg>
  </div>

</body>
</html>