<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SAML User Profile Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${name} + '!'" />
    <p></p>
        <table>
        <tr>
            <td colspan="2"><h5>General information</h5></td>
        </tr>
        <tr>
            <td width="200"><strong>Name:</strong></td>
           	<td th:text="${samlAuth.name}"></td>
        </tr>
        <tr>
            <td><strong>Principal:</strong></td>
			<td th:text="${samlAuth.principal}"></td>
        </tr>
        <tr>
            <td><strong>Name ID:</strong></td>
        	<td th:text="${samlCred.nameID.value}"></td>
        </tr>
        <tr>
            <td><strong>Name ID format:</strong></td>
      		<td th:text="${samlCred.nameID.format}"></td>
        </tr>
        <tr>
            <td><strong>IDP:</strong></td>
			<td th:text="${samlCred.authenticationAssertion.issuer.value}"></td>
        </tr>
        <tr>
            <td><strong>Assertion issue time:</strong></td>
           	<td th:text="${samlCred.authenticationAssertion.issueInstant}"></td>
        </tr>
    </table>
    
</body>
</html>