<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div id="site-wrapper">
    <div class="main" id="main-two-columns">
        <div class="left" id="main-content">
            <div class="section">
                <div class="section-content">
                    <div class="post">
                        <div class="post-title"><h2 class="label label-green">Welcome</h2></div>
                        <p class="quiet large">You have been logged out.</p>
                        <div class="post-body">
                            <p>
                                <a href="samlindex">Login to Early Intervention</a>
                            </p>
                        </div>
                    </div>
                    <div class="clearer">&nbsp;</div>
                </div>
            </div>
            <div class="clearer">&nbsp;</div>
        </div>
    </div>
</div>
</body>
</html>